[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = eastofeaton.pay2plone

parts += omelette

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    ${buildout:package-name} [test]
defaults = ['-s', '${buildout:package-name}', '--exit-with-status', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

